#botLine {
    padding-bottom: 1em;
    border-bottom: .5px rgba(77, 77, 77, 0.445) solid;
}

#cartTitle {
    padding: 1em 0 2em 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.6em;
}

#checkoutButton {
    background-color: rgb(144, 170, 135);
    padding: .7em 5em .8em 5em;
    border-radius: 5em;
    color: white;
}

#paymentOption {
    cursor: pointer;
    height: 1em;
    width: 1em;
    border-radius: 6em;
}

#viewListings {
    background-color: rgb(144, 170, 135);
    margin: 2em 0 1.5em 0;
    padding: .7em 5em .8em 5em;
    border-radius: 5em;
    color: white;
    border: none;
    cursor: pointer;
}

.modalText {
    border: none;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    cursor: pointer;
    white-space: nowrap;
}

#noteColor {
    color: rgba(77, 77, 77, 0.671);
}

.cartContainer {
    padding: 1em 2em 1em 2em;
    margin: auto;
    width: 1024px;
}

.cartItems {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cartRight {
    position: sticky;
    top: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cartSection {
    display: flex;
    justify-content: space-between;
    gap: 2em;
}

.itemTotal {
    display: flex;
    justify-content: space-between;
}

.modalButtonLarge {
    background-color: rgb(144, 170, 135);
    border: none;
    padding: 4px 6px 4px 6px;
    border-radius: 5em;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 3em;
    white-space: nowrap;
}

.noteDiv {
    display: flex;
    justify-content: center;
}

.paymentChecks {
    display: flex;
    gap: 1em;
    align-items: center;
}
