input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#createButtonDiv {
    display: flex;
    justify-content: center;
}

#photoHeader {
    /* margin-right: em; */
}

#listingFormTextArea {
    height: 19em;
    resize: none;
    padding-top: 7px;
}

#textAreaDesc {
    margin-bottom: 1em;
}

.browse {
    /* border: 1px solid grey; */
    background-color: rgb(144, 170, 135);
    color: white;
    border-radius: 3em;
    padding: 3px 15px 3px 15px;
    cursor: pointer;
}

.createListingErrors {
    color: rgb(249, 102, 69);
}

.fa-circle-notch {
    font-size: xx-large;
    animation-name: rotate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-duration: 1500ms;
    color: rgb(144, 170, 135);
}

@keyframes rotate {
    from {
       transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.formSection {
    display: flex;
    justify-content: start;
    gap: 1em;
}

#inputMainContainer {
    border: 1.5px dashed gray;
    border-radius: 5px;
    width: 20em;
    height: 22.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#inputMainContainerPost {
    border: 1.5px dashed gray;
    border-radius: 5px;
    width: 20em;
    height: 22.5em;
    display: flex;
    justify-content: end;
    align-items: start;
}

.inputMainImg {
    cursor: pointer;
    opacity: 0;
    background-color: blue;
    position: relative;
    z-index: 2;
    height: 27em;
    width: 23.9em;
    border-radius: 5px;
}

.inputMainImgText {
    /* position: absolute; */
    font-size: small;
    color: rgba(128, 128, 128, 0.863);
    font-weight: 600;
}

.inputSubContainer {
    border: 1.5px dashed gray;
    border-radius: 5px;
    width: 10.5em;
    height: 10.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputSubContainerPost {
    border: 1.5px dashed gray;
    border-radius: 5px;
    width: 10.5em;
    height: 10.7em;
    display: flex;
    justify-content: end;
    align-items: start;
}

.inputSubImg {
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 2;
    height: 12.9em;
    width: 12.9em;
    border-radius: 5px;
}

.inputSubImgText {
    font-size: small;
    color: rgba(128, 128, 128, 0.863);
    font-weight: 600;
    width: 7em;
    text-align: center;
}

.inputRightContainer {
    /* border: 2px blue solid; */
    width: 22.3em;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
}

.inputTitle {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: start;
    width: 25%;
}

.listingFormBody {
    margin: 2em 0 0 0 ;
    border: 1px solid rgba(46, 43, 28, 0.5);
    box-shadow: 0px 0px 10px 3px rgba(46, 43, 28, 0.2);
    width: 100%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    gap: 2em;
}

.listingFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
    width: 1024px;
    margin: auto;
}

.listingFormInput {
    width: 100%;
    height: 3em;
    border: 1px solid rgba(46, 43, 28, 0.5);
    border-radius: 5px;
    padding-left: 7px;
}

.listingFormInput:focus {
    outline: none;
    border: 1px solid rgba(46, 43, 28, 0.5);

}

.listingFormTitle {
  margin: 3em 0 .5em 0;
}

.listingFormUrls {
    display: flex;
    gap: 1em;
    width: 100%;
}

.listingInputDiv {
    width: 100%;
}

.loadingContainer {
    width: 30em;
    height: 20em;
    top: 15em;
    background-color: white;
    box-shadow: 0px 0px 10px 5px rgba(46, 43, 28, 0.2);
    border-radius: 5px;
    position: fixed;
    z-index: 15;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.removeImgButton {
    position: absolute;
    z-index: 2;
    margin: 10px;
    height: 2em;
    width: 2em;
    padding: 5px;
    background-color: white;
    border: .2px solid grey;
    border-radius: 8em;
    cursor: pointer;
    font-weight: 700;
}

.removeImgButton:hover {
    background-color: rgb(212, 104, 68);
    border: none;
}

.submitListing {
    background-color: rgb(144, 170, 135);
    border: none;
    padding: .7em 5em .8em 5em;
    border-radius: 5em;
    color: white;
    margin: .5em 0 1.5em 0;
    cursor: pointer;
}

.submitListingDisabled {
    background-color: rgba(46, 43, 28, .5);
    border: none;
    padding: .7em 5em .8em 5em;
    border-radius: 5em;
    color: white;
    margin: .5em 0 1.5em 0;
    cursor: not-allowed;
}

.textDiv {
    height: 10em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.textSubDiv {
    height: 6.5em;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
