#areYouSure {
    padding-top: .5em;
    width: 85%;
}

#confirmDelete {
    background-color: rgb(249, 102, 69);
    border: none;
    padding: 4px 6px 4px 6px;
    border-radius: 5em;
    cursor: pointer;
    width: 10em;
    height: 3em;
    white-space: nowrap;
}

#confirmKeep {
    background-color: rgb(144, 170, 135);
    border: none;
    padding: 4px 6px 4px 6px;
    border-radius: 5em;
    color: black;
    cursor: pointer;
    width: 10em;
    height: 3em;
    white-space: nowrap;
}

#deleteConfirmModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .75em 1em 1.2em 1em;
    width: 26em;
    background-color: white;
    border-radius: 1.2em;
}

.confirmButtonsContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1em;
    width: 100%;
    gap: 1em;
}
